out/
kernel/out/
mediatek/custom/out/

checkenv.log

bootable/bootloader/lk/build-*

mediatek/custom/common/lk/logo/boot_logo
mediatek/custom/common/modem/lightning72_wet_l_jb3_hspa/modem_feature_lightning72_wet_l_jb3_hspa.mak
mediatek/custom/pe900s/kernel/dct/pd805s/cust_adc.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_eint.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_eint_md1.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_gpio_boot.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_gpio_usage.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_kpd.h
mediatek/custom/pe900s/kernel/dct/pd805s/cust_power.h
mediatek/custom/pe900s/kernel/dct/pd805s/pmic_drv.c
mediatek/custom/pe900s/kernel/dct/pd805s/pmic_drv.h
mediatek/frameworks/common/src/com/mediatek/common/featureoption/FeatureOption.java
mediatek/frameworks/common/src/com/mediatek/common/featureoption/IMEFeatureOption.java
mediatek/platform/mt6572/preloader/src/init/inc/preloader.h
mediatek/platform/mt6572/preloader/src/security/inc/KEY_IMAGE_AUTH.h
mediatek/platform/mt6572/preloader/src/security/inc/KEY_SML_AUTH.h
mediatek/platform/mt6572/preloader/src/security/inc/KEY_SML_ENCODE.h
mediatek/preloader/bin/
mediatek/preloader/function.map
mediatek/preloader/preloader_pe900s.bin
mediatek/preloader/preloader_pe900s.elf
mediatek/preloader/report-codesize.csv
mediatek/preloader/report-codesize.txt
mediatek/preloader/report-objsize.txt
mediatek/preloader/system.map
mediatek/build/tools/SignTool/inc/build_info.h
mediatek/build/tools/SignTool/lib/SignLib.a
